{% extends 'baseAttendanceMode.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" height="30px">  Modo Asistencia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../../adminmode">Administrador <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="../../">Cliente</a>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">
          Salir
        </button>

        <script type="text/javascript">
          function logout() {
            window.location.href = "../../../../logout";
          }
        </script>
      </li>
    </ul>
  </div>
</nav>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">¿Salir del sistema?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Se cerrará sesión de {{user.username}}. Podrá acceder al modo asistencia una vez inicie sesión con este mismo usuario. Mientras no sea así, el sistema se mantendrá cerrado en este dispositivo.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="logout()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <h2 align="center" class="mt-5">Ingreso de entrenador</h2>

  <form class="form-inline my-3 justify-content-center">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="form-group">
          <input type="text" name="trainer_name" placeholder="Nombre" class="form-control mr-3" id="id_trainer_name">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <input type="text" name="trainer_surname" placeholder="Apellidos" class="form-control" id="id_trainer_surname">
        </div>
      </div>
      <!-- SHOW WHEN VIEWPORT IS MEDIUM OR HIGHER-->
      <div class="col-12 col-md-4 d-none d-md-block">
        <button class="btn btn-primary ml-2 material-icons" type="submit">search</button>
        <a href="./" class="btn btn-warning">Limpiar</a>
      </div>
      <!-- HIDE WHEN VIEWPORT IS MEDIUM OR LOWER-->
      <div class="col-12 col-md-4 d-md-none">
        <button class="btn btn-primary material-icons btn-block" type="submit">search</button>
        <a href="./" class="btn btn-warning btn-block">Limpiar</a>
      </div>
    </div>
  </form>

  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
    {% endfor %}
  {% endif %}


  <table class="table table-striped table-hover mt-4">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Telefono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

      <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'clientss' y los listamos -->
      {% for clients in object_list %}
        <tr>
          <td>{{ clients.trainer_name }}</td>
          <td>{{ clients.trainer_surname }}</td>
          <td>{{ clients.trainer_phone }}</td>
          <td>
            <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o clients desde la misma tabla HTML -->
            <form method="POST" action="checkClientAttendance/{{clients.trainer_id}}">
              {% csrf_token %}
              <div class="row">
                <div class="col">
                  <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Contraseña">
                </div>
                <div class="col">
                  <button class="btn btn-danger" type="submit" value="{{client.trainer_id}}">
                    Ingresar
                  </button>
                </div>
              </div>
            </form>

          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>


<script type="text/javascript">
  function eliminar() {
    var x = confirm("¿Salir del sistema?");
    if (x)
      return true;
    else
      return false;
  }
</script>
{% endblock %}
