{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-9">
      <h2>Consulta de datos de entrenador</h2>
    </div>
    <div class="col-3">
      <a href="{% url 'trainer index'%}" class="btn btn-primary float-right">Volver</a>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="">Nombre</label>
        <div class="form-control"> {{object.trainer_name}}</div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="">Apellidos</label>
        <div class="form-control"> {{object.trainer_surname}}</div>
      </div>

    </div>

    <div class="col-6 col-md-6 col-lg-2">
      <div class="form-group">
        <label for="">Fecha de nacimiento</label>
        <div class="form-control"> {{object.trainer_birthday}}</div>
      </div>
    </div>

    <div class="col-6 col-md-6 col-lg-2">
      <div class="form-group">
        <label for="">Género</label>
        <small class="d-lg-none">&nbsp;</small>
        <div class="form-control"> {{object.trainer_gender}}</div>
      </div>
    </div>


    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-group my-auto">
        <label for="">Teléfono. <small>Formato: (XXX-XXX-XXXX)</small></label>
        <div class="form-control"> {{object.trainer_phone}}</div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="form-group">
        <label for="">Teléfono de emergencia. <small>Formato: (XXX-XXX-XXXX)</small></label>
        <div class="form-control"> {{object.trainer_emergency_phone}}</div>
      </div>
    </div>


    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="">Email</label>
        <div class="form-control"> {{object.trainer_email}}</div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="">Dirección</label>
        <div class="form-control"> {{object.trainer_address}}</div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="form-group">
        <label for="">RFC</label>
        <div class="form-control"> {{object.trainer_rfc}}</div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
