{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<script>
function goBack() {
  window.history.back()
}
</script>

<div class="container">
  <div class="row">
    <div class="col">
      <img class="mr-5" src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" width="100%">
    </div>
    <div class="col-6 mt-5" align="center">
      <h2>Editar</h2>
    </div>
    <div class="col" align="center">
      <a href="#" onclick="goBack()" class="btn btn-primary mt-5">Atrás</a>
    </div>
  </div>

  <form method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% for field in form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col"></div>

      <div class="col-4 mb-5" align="center">
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href="#" onclick="goBack()" class="btn btn-secondary">Cancelar</a>
      </div>

      <div class="col"></div>
    </div>
  </form>
</div>
{% endblock %}
