{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <img class="mr-10" src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" width="50%">
    </div>
    <div class="col" align="center">
      <h2 class="mt-5">Administración de Entrenadores</h2>
    </div>
    <div class="col-3 mt-5" align="center">
      <a type="button" class="btn btn-success" href="registrar">Nuevo</a>
      <a type="button" class="btn btn-primary" href="../admin/index">Atrás</a>
      <button class="btn btn-primary material-icons" align="center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">search</button>
    </div>
  </div>
</div>

<div class="container">
  <div id="accordion">
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body mb-2 bg-light border border-info rounded">
          <div class="row">
            <div class="col">
              <form align="center" method="get">
                <div class="form">
                  <div class="row">
                    <div class="col-6">
                      {{ filter.form.trainer_name.label_tag }}
                    </div>
                    <div class="col-6">
                      {{ filter.form.trainer_surname.label_tag }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      {% render_field filter.form.trainer_name class="form-control" %}
                    </div>
                    <div class="col-6">
                      {% render_field filter.form.trainer_surname class="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col" align="right">
                    <button class="btn btn-primary mr-2 material-icons" type="submit">search</button>
                    <a href="./" class="btn btn-warning">Limpiar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-2">
  <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Fecha de nacimiento</th>
          <th>Telefono</th>
          <th>Telefono de Emergencia</th>
          <th>Email</th>
          <th>Genero</th>
          <th>Domicilio</th>
          <th>RFC</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'clientss' y los listamos -->
      {% for trainers in object_list %}
        <tr>
          <td>{{ trainers.trainer_name }}</td>
          <td>{{ trainers.trainer_surname }}</td>
          <td>{{ trainers.trainer_birthday }}</td>
          <td>{{ trainers.trainer_phone }}</td>
          <td>{{ trainers.trainer_emergency_phone }}</td>
          <td>{{ trainers.trainer_email }}</td>
          <td>{{ trainers.trainer_gender }}</td>
          <td>{{ trainers.trainer_address }}</td>
          <td>{{ trainers.trainer_rfc }}</td>
          <td>
            <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o clients desde la misma tabla HTML -->
            <form method="POST" action="eliminar/{{trainers.trainer_id}}">
              {% csrf_token %}
              <div class="btn-group">

                <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o clientss -->
                <a href="consultar/{{trainers.trainer_id}}" title="Ver" class="btn btn-primary">Ver </a>
                <a href="editar/{{trainers.trainer_id}}" title="Editar"class="btn btn-secondary">Editar </a>
                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                  Eliminar
                </button>
              </div>
            </form>

          </td>
        </tr>
      {% endfor %}

      </tbody>
    </table>
</div>

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("¿Eliminar entrenador?");
      if (x)
        return true;
      else
        return false;
    }
  </script>

{% endblock %}
