{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}



<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-9">
      <h2>Registro de asistencias de entrenadores</h2>
    </div>
    <div class="col-3">
      <button class="float-right btn btn-primary material-icons" align="center" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">search</button>
    </div>
  </div>
</div>


<div class="container">
  <div id="accordion">
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body mb-2 bg-light border border-info rounded">
          <div class="row">
            <div class="col">
              <form align="center" method="get">
                <h4>Buscador</h4>
                <p>Rellene los campos para realizar la búsqueda. Si no desea buscar por algún campo, déjelo en blanco.</p>
                <div class="form">
                  <div class="row">
                    <div class="col-4">
                      {{ filter.form.id.label_tag }}
                    </div>
                    <div class="col-4">
                      {{ filter.form.trainer_surname.label_tag }}
                    </div>
                    <div class="col-4">
                      {{ filter.form.date.label_tag }}
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-4">
                      {% render_field filter.form.id class="form-control" %}
                    </div>
                    <div class="col-4">
                      {% render_field filter.form.trainer_surname class="form-control" %}
                    </div>
                    <div class="col-4">
                      {% render_field filter.form.date class="form-control" %}
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col" align="right">
                    <button class="btn btn-primary mr-2 material-icons" type="submit">search</button>
                    <a href="./" class="btn btn-warning">Limpiar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="table-responsive-lg">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Fecha</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'clientss' y los listamos -->
        {% for trainers in object_list %}
          <tr>
            <td>{{ trainers.id }}</td>
            <td>{{ trainers.trainer_surname }}</td>
            <td>{{ trainers.trainer_phone }}</td>
            <td>{{ trainers.register_date }}</td>
            <td>{{ trainers.description }}</td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
  </div>
</div>

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("Eliminar Cliente ?");
      if (x)
        return true;
      else
        return false;
    }
  </script>

{% endblock %}
