{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-9">
      <h2>Registrar Grupo</h2>
    </div>
    <div class="col-3">
      <a href="./index" class="btn btn-primary float-right">Volver</a>
    </div>
  </div>
</div>

<div class="container">

  <form method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="form-group">
          <label for="">Clase</label>
          {{ form.gymclass_id|add_class:"form-control" }}
        </div>
        <div class="form-group">
          <label for="">Entrenador</label>
          {{ form.trainer_id|add_class:"form-control" }}
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-2">
              <label for="">Día</label>
            </div>
            <div class="col-2">
              <select type="text" class="form-control" name="day">
                <option>Lunes</option>
                <option>Martes</option>
                <option>Miercoles</option>
                <option>Jueves</option>
                <option>Viernes</option>
                <option>Sábado</option>
                <option>Domingo</option>
              </select>
            </div>
            <div class="col-2">
              <label for="">Hora</label>
            </div>
            <div class="col-2">
              <input class="form-control" type="number" name="hour" max=12 min=1 value=1>
            </div>
            <div class="col-2">
              <input class="form-control" type="number" name="minutes" max=59 min=0 value=0>
            </div>
            <div class="col-2">
              <select type="submit" class="form-control" name="ampm">
                <option>AM</option>
                <option>PM</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row">
      <div class="col"></div>

      <div class="col-4 mb-5" align="center">
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href="index" class="btn btn-secondary">Cancelar</a>
      </div>

      <div class="col"></div>
    </div>
  </form>
</div>
{% endblock %}
