{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-4 mb-2">
  <div class="row">
    <div class="col-12">
      <h2>Detalles de Grupo</h2>
    </div>
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col-1 col-md-1">
      <label for="">ID</label>
      <div class="form-control"> {{object.group_id}}</div>
    </div>
    <div class="col-11 col-md-5 mb-2">
      <label for="">Clase</label>
      <div class="form-control"> {{object.gymclass_id}}</div>
    </div>

    <div class="col-12 col-md-6 mb-2">
      <label for="">Entrenador</label>
      {% if object.trainer_id == None %}
        <div class="form-control alert-danger">Sin asignar</div>
      {% else %}
        <div class="form-control"> {{object.trainer_id}}</div>
      {% endif %}
    </div>

    <div class="col-1 pt-2 text-right">
      <label>Dia</label>
    </div>
    <div class="col-4">
      <div class="form-control"> {{object.weekday}}</div>
    </div>



    <div class="col-1 pt-2 text-right">
      <label for="">Hora</label>
    </div>

    <div class="col-3">
      <div class="form-control"> {{object.hour}}</div>
    </div>

  </div>

  <div class="row mt-2">
    <div class="col"></div>

    <div class="col-4 mb-5 mt-2 d-none d-md-block" align="center">
      <a href="{% url 'edit groups' object.group_id %}"  class="btn btn-primary">Editar</a>
      <a href="{% url 'index groups' %}" class="btn btn-secondary">Volver</a>
    </div>

    <div class="col-12 mb-5 mt-2 d-md-none">
      <a href="{% url 'edit groups' object.group_id %}" class="btn btn-primary btn-block">Editar</a>
      <a href="{% url 'index groups' %}" class="btn btn-secondary btn-block">Volver</a>
    </div>

    <div class="col"></div>
  </div>

</div>
{% endblock %}
