html {
  scroll-behavior: smooth;
}

.clock {
  width: 92%;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
  .clock-date{
    display: block;
    padding: 10px;
    text-align: center;
  }
    .clock-date span{
      font-size: 1rem;
    }

  .clock-body{
    width: 100%;
    text-align: center;
    font-size: 3.8rem;
  }
    .clock-cell{
      display: inline-block;
      color: #FFF1FA;
      background-color: #0F1620;
      border-radius: 7px;
      padding: 0 5px;
      width: 25%;
      margin-bottom: 15px;
    }

  .clock-message{
    color: #DBDBDB;
    text-align: center;
    padding: 5px 0;
  }

@media (max-width: 992px) {
  .clock-body{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }
}

.bottom-space{
  padding-bottom: 10rem;
}

.clients-title-color{
  color: #9C64D6;
}

.gym-title-color{
  color: #DB64B0;
}

.trainer-title-color{
  color: #DB7F7A;
}

.footer-shadow{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}


#page-container{
  position: relative;
  min-height: 99vh;
}

#content-wrap{
  padding-bottom: 110px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
}
  footer .container-fluid{
    height: 110px;
  }

.chart-container{
  width: 100%;
}
