{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script>
function goBack() {
  window.history.back()
}
</script>

<div class="container">
    <div class="row">
      <div class="col-3">
        <img class="mr-5" src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" width="50%">
      </div>
      <div class="col-6" align="center">
        <h2 class="mt-5">Administración</h2>
      </div>
      <div class="col-3" align="center">
        <a href="#" onclick="goBack()"class="btn btn-primary mt-5">Atrás</a>
      </div>
    </div>

    <div class="alert alert-success mt-5" role="alert">
      <h4 class="alert-heading">¡Bienvenido a IO-GYM!</h4>
      <p>Esta es la página de administración de IO-GYM. Puedes administrar los clientes, entrenadores y hacer consultas de las estadísticas de tu gimnasio. Sólo elige la opción que usted desee</p>
      <hr>
      <p class="mb-0">Si considera que hay un problema con el sistema o requiere ayuda personalizada, comuníquese con el soporte técnico de AfterByte al (+521) 341-846-7852 o envíe un correo a afterbyte@gmail.com (nos dio flojera hacer un formulario de contacto gg)</p>
  </div>
</div>

<div class="container mb-2">
  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Configuración de gimnasio
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <a class="btn btn-primary" href="weekdays/index">Dias laborales</a>
        <a class="btn btn-primary" href="hours/index">Horarios de clases</a>
        <a class="btn btn-primary" href="groups/index">Grupos</a>
        <a class="btn btn-primary" href="gymclasses/index">Clases</a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Administración de usuarios
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="row" align="center">
          <div class="col-6">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                Clientes
              </div>
              <ul class="list-group list-group-flush">
                <a href="../../clients" class="btn btn-light list-group-item">Administración de Clientes</a>
                <a href="membership/index" class="btn btn-light list-group-item">Membresías</a>
                <a href="asistencias" class="btn btn-light list-group-item">Asistencia de Clientes</a>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <div class="card" style="width: 18rem;">
              <div class="card-header">
                Entrenadores
              </div>
              <ul class="list-group list-group-flush">
                <a href="../../trainers" class="btn btn-light list-group-item">Administración de Entrenadores</a>
                <a href="asistencias" class="btn btn-warning list-group-item">Asistencia de Entrenadores(En desarrollo)</a>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
