{% extends 'baseForLogin.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<body class="bg-dark">
  <div class="container-fluid bg-dark">
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 col-md-6 bg-dark">
        <img src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" height="300px" class="img-fluid mb-3">
      </div>
      <div class="col-12 col-md-6">
        <div class="card rounded-lg" style="height: 100%;">
          <div class="card-body">
            <div class="row">
              <div class="col">

              </div>
              <div class="col-12 col-lg-10">
                <h1 class="card-title">¡Bienvenido a IOGYM!</h1>
                <h5 class="card-subtitle mb-5 text-muted">Inicia sesión para usar la plataforma</h5>
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Usuario" name="username">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password">
                  </div>

                  <a href="../../reset/password_reset" class="card-link">¿Olvidaste la contraseña?</a>

                  <button type="submit" style="width: 100%;"class="btn btn-primary mt-2 mb-2">Ingresar</button>
                </form>

                {% if form.errors %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>¡No se ha iniciado sesión!</strong> Revise los datos. El usuario o la contraseña es incorrecta.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endif %}

              </div>
              <div class="col">

              </div>
            </div>
          </div>
          <img src="{% static "images/afterbyte_logo.png" %}" alt="iogym_logo" class="mb-1" style="display: block; margin-left: auto; margin-right: auto; width: 30%; -webkit-filter: invert(1);filter: invert(1);">
        </div>
      </div>
    </div>
  </div>
</body>


{% endblock %}
