
{% extends 'baseForLogin.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<body class="bg-dark">
  <div class="container-fluid bg-dark">
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-6 bg-dark">
        <img src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" height="300px" class="img-fluid mb-2">
      </div>
      <div class="col-12 col-sm-6">
        <div class="card rounded-lg" style="height: 100%;">
          <div class="card-body">
            <div class="row">
              <div class="col">

              </div>
              <div class="col-10">
                <h1 class="card-title">Reestablecer Contraseña</h1>
                <h5 class="card-subtitle mb-5 mt-5 text-muted">Su contraseña ha sido reestablecida con éxito.</h5>
                <h5 class="card-subtitle mb-5 text-muted">¡Ya puede iniciar sesión!.</h5>
                <a style="width: 100%;" href="../../../../accounts/login" class="btn btn-primary">Iniciar sesión</a>

              </div>
              <div class="col">

              </div>
            </div>
          </div>
          <img src="{% static "images/afterbyte_logo.png" %}" alt="iogym_logo" class="mb-1" style="display: block; margin-left: auto; margin-right: auto; width: 30%; -webkit-filter: invert(1);filter: invert(1);">
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
