
{% extends 'baseForLogin.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<body class="bg-dark">
  <div class="container-fluid bg-dark">
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-6 bg-dark">
        <img src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" height="300px" class="img-fluid mb-2">
      </div>
      <div class="col-12 col-sm-6">
        <div class="card rounded-lg" style="height: 100%;">
          <div class="card-body">
            <div class="row">
              <div class="col">

              </div>
              <div class="col-10">
                <h1 class="card-title">Reestablecer Contraseña</h1>
                <h5 class="card-subtitle mb-5 text-muted">Ingresa una nueva contraseña.</h5>
                {% if validlink %}
                  <div class="container">
                    <form class=""  method="post">
                      {% csrf_token %}
                      {{form.new_password1.errors}}
                      <label for="id_new_password1">Nueva contraseña:</label>
                      {{ form.new_password1|add_class:'form-control'}}

                      {{form.new_password2.errors}}
                      <label for="id_new_password2">Confirmar contraseña:</label>
                      {{ form.new_password2|add_class:'form-control'}}

                      <button type="submit" style="width: 100%;"class="btn btn-primary mt-2 mb-2">Reestrablecer Contraseña</button>
                    </form>
                  </div>
                {% else %}
                  <h1 class="text-center">ESTE ENLACE YA HA SIDO UTILIZADO</h1>
                {% endif %}

              </div>
              <div class="col">

              </div>
            </div>
          </div>
          <img src="{% static "images/afterbyte_logo.png" %}" alt="iogym_logo" class="mb-1" style="display: block; margin-left: auto; margin-right: auto; width: 30%; -webkit-filter: invert(1);filter: invert(1);">
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
