{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-9">
      <h2>Consulta de datos de membresía</h2>
    </div>
    <div class="col-3">
      <a href="../index" class="btn btn-primary float-right">Volver</a>
    </div>
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col">
      <p><span class="txt_negrita">Cliente:</span> <div class="form-control"> {{object.client_id}}</div></p>
      <p><span class="txt_negrita">Fecha de Registro:</span> <div class="form-control"> {{object.register_date}}</div></p>
      <p><span class="txt_negrita">Fecha de vencimiento:</span> <div class="form-control"> {{object.expiration_date}}</div></p>
    </div>
    <div class="col">
      <p>

        <div class="card ml-5" style="width: 18rem">
          <div class="card-header">
            <span class="txt_negrita">Clases inscritas:</span>
          </div>
          <ul class="list-group list-group-flush">
            {% for author in memberships.included_classes.all %}
                 <li class="list-group-item">{{ author }}</li>
                 {% endfor %}</div></p>
          </ul>
        </div>
  </div>

</div>
{% endblock %}
