{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-4 mb-2">
  <div class="row">
    <div class="col-12 col-md-9">
      <h2>Consulta de datos de membresía</h2>
    </div>

    <div class="col-12 col-md-3 text-right d-none d-md-block">
      <a href="../edit/{{object.membership_id}}" class="btn btn-success">Editar</a>
      <a href="../" class="btn btn-primary ">Volver</a>
    </div>

    <div class="col-12 col-md-3 d-md-none">
      <a href="../edit/{{object.membership_id}}" class="btn btn-success btn-block">Editar</a>
      <a href="../" class="btn btn-primary btn-block ">Volver</a>
    </div>
  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col-12 col-md-6 my-2">
      <p><span class="txt_negrita">Cliente:</span> <div class="form-control"> {{object.client_id}}</div></p>
      <p><span class="txt_negrita">Fecha de Registro:</span> <div class="form-control"> {{object.register_date}}</div></p>
      <p><span class="txt_negrita">Fecha de vencimiento:</span> <div class="form-control"> {{object.expiration_date}}</div></p>
    </div>

    <div class="col-12 col-md-6 my-2">
      <div class="card mx-auto" style="width: 90%">
        <div class="card-header">
          <span class="font-weight-bold">Clases inscritas:</span>
        </div>
        <ul class="list-group list-group-flush">
          {% for author in memberships.included_classes.all %}
            <li class="list-group-item">{{ author }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</div>
{% endblock %}
