{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-9">
      <h2>Editar membresía</h2>
    </div>
    <div class="col-3">
      <a href="../index" class="btn btn-primary float-right">Volver</a>
    </div>
  </div>
</div>

<div class="container">

  <form method="post" enctype="multipart/form-data">
    <div class="row">
      <div class="col"></div>

      <div class="col-4 mb-5" align="center">
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href="../index"class="btn btn-secondary">Cancelar</a>
      </div>

      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <div class="form-group">
          <label for="stock" class="txt_negrita">Cliente</label>
          {{ form.client_id|add_class:"form-control" }}
        </div>
        <div class="form-group">
          <label for="stock" class="txt_negrita">Fecha de registro</label>
          <div class="form-control">
            {{ form.instance.register_date|date:"Y/m/d" }}
          </div>
        </div>
        <div class="form-group">
          <label for="stock" class="txt_negrita">Fecha de vencimiento</label>
          {{ form.expiration_date|add_class:"form-control" }}
        </div>
        <div class="form-group">
          <label for="stock" class="txt_negrita">Clases inscritas</label>
          {{ form.included_classes|add_class:"form-check-input" }}
        </div>
      <div class="col-2"></div>
    </div>
  </form>
</div>
{% endblock %}
