<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOGYM</title>
    <link rel="shortcut icon" type="image/jpeg" href="{% static "images/favicon.jpeg"%}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  {% if not user.is_superuser%}

  {% block content %}
  {% endblock %}

  {% else%}
  <body class="bg-dark">
    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="col">

        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 col-sm-6 bg-dark">
          <img src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" height="300px" class="img-fluid mb-2">
        </div>
        <div class="col-12 col-sm-6">
          <div class="card rounded-lg" style="height: 100%;">
            <div class="card-body">
              <div class="row">
                <div class="col">

                </div>
                <div class="col-10">
                  <h1 class="card-title">Modo de asistencia</h1>
                  <h5 class="card-subtitle mb-5 text-muted">Para entrar a modo de asistencia debe de iniciar sesión con una cuenta secundaria (No Administrador)</h5>
                  <a style="width: 100%;" href="../../../../logout" class="btn btn-danger mb-1">Cerrar sesión</a>
                  <a style="width: 100%;" href="#" onclick="goBack()" class="btn btn-primary">Atrás</a>
                  <script>
                    function goBack() {
                      window.history.back();
                    }
                  </script>
                </div>
                <div class="col">

                </div>
              </div>
            </div>
            <img src="{% static "images/afterbyte_logo.png" %}" alt="iogym_logo" class="mb-1" style="display: block; margin-left: auto; margin-right: auto; width: 30%; -webkit-filter: invert(1);filter: invert(1);">
          </div>
        </div>
      </div>
    </div>
  </body>
  {% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
