{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container" align="center">
  <form method="post" enctype="multipart/form-data">
    <img class="mr-5" src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" width="40%">
    <h2>Ingreso de Cliente</h2>
    <div class="row">
      <div class="col">
      </div>
      <div class="col col-8 col-sm-6 col-lg-4">

        {% csrf_token %}

        <!-- {{ form.as_p }} -->
        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}

      </div>
      <div class="col">
      </div>
    </div>
    <button type="submit" onclick="check" class="btn btn-primary">Ingresar</button>
    <div class="fixed-bottom mb-5 mr-5" align="right">
      <a class="btn btn-success" href="/admin/index">Administrador</a>
      <a class="btn btn-success" href="/trainers/asistencia">Entrenador</a>
    </div>
  </form>
</div>

{% endblock %}
