
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-4 mb-2">
  <div class="row">
    <div class="col-12">
      <h2>Editar Pago</h2>
    </div>
  </div>
</div>

<div class="container">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">

      <div class="col-12 col-md-8">
          <label for="">Nombre</label>
          <input type="text" name="gymclass_name" value="{{object.gymclass_name}}" maxlength="40" class="form-control" id="id_gymclass_name">
      </div>

      <div class="col-md-4 pt-4 mt-1 text-right d-none d-md-block">
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href="{% url 'index gymclasses' %}" class="btn btn-secondary">Cancelar</a>
      </div>

      <div class="col-12 mt-2 d-md-none">
        <button type="submit" class="btn btn-success btn-block">Aceptar</button>
        <a href="{% url 'index gymclasses' %}" class="btn btn-secondary btn-block">Cancelar</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
