{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-9">
      <h2>Ver datos de Usuario</h2>
    </div>
    <div class="col-3">
      <a href="{% url 'user index' %}" class="btn btn-primary float-right">Volver</a>
    </div>
  </div>
</div>

<div class="container">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">

        <div class="col-12 col-md-6 form-group">
          <label for="">Usuario</label>
          <div class="form-control">
            {{userInfo.username}}
          </div>
        </div>


        <div class="col-12 col-md-6 form-group">
          <label for="">Email</label>
          <div class="form-control">
            {% if userInfo.email == '' %}
              No registrado
            {% else %}
              {{userInfo.email}}
            {% endif %}
          </div>
        </div>



        <div class="col-12 col-md-6 form-group">
          <label for="">Tipo</label>
          <div class="form-control">
            {% if userInfo.is_superuser %}
                Administrador
            {% else %}
                Asistente
            {% endif %}
          </div>
        </div>


        <div class="col-12 col-md-6 form-group">
          <label for="">Último inicio de sesión</label>
          <div class="form-control">
            {% if userInfo.last_login == None %}
                Sin inicio de sesión
            {% else %}
              {{userInfo.last_login}}
            {% endif %}
          </div>
        </div>

    </div>


  </form>
</div>
{% endblock %}
