{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

{% if user.is_superuser%}


<div class="container mt-4 mb-2">
  <div class="row">
    <div class="col-12 col-md-9">
      <h2>Administración de Usuarios</h2>
    </div>
    <div class="col-12 col-md-3 d-none d-md-block" align="right">
      <a type="button" class="btn btn-success mb-1" href="../create">Nuevo</a>
    </div>
    <div class="col-12 col-md-3 d-md-none">
      <a type="button" class="btn btn-success btn-block mb-1" href="../create">Nuevo</a>
    </div>
  </div>
</div>

<div class="container">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
    {% endfor %}
  {% endif %}
</div>

<div class="container mt-2">
  <div class="table-responsive-lg">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Usuario</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'clientss' y los listamos -->
        {% for userItem in object_list %}
          <tr>
            <td>{{ userItem.username }}</td>
            <td>{{ userItem.email }}</td>
            {% if userItem.is_superuser %}
              <td>Administrador</td>
            {% else %}
              <td>Asistente</td>
            {% endif %}
            <td>
              <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o clients desde la misma tabla HTML -->
              <form method="POST" action="../delete/{{userItem.id}}">
                {% csrf_token %}
                <div class="btn-group">

                  <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o clientss -->
                  <a href="../details/{{userItem.id}}" title="Ver" class="btn btn-primary">Ver </a>
                  <a href="../edit/{{userItem.id}}" title="Editar"class="btn btn-secondary">Editar </a>
                  <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                    Eliminar
                  </button>
                </div>
              </form>

            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
  </div>
</div>

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("¿Eliminar entrenador?");
      if (x)
        return true;
      else
        return false;
    }
  </script>
{% else%}
<body class="bg-dark">
  <div class="container-fluid bg-dark">
    <div class="row">
      <div class="col">

      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-sm-6 bg-dark">
        <img src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" height="300px" class="img-fluid mb-2">
      </div>
      <div class="col-12 col-sm-6">
        <div class="card rounded-lg" style="height: 100%;">
          <div class="card-body">
            <div class="row">
              <div class="col">

              </div>
              <div class="col-10">
                <h1 class="card-title">No tienes acceso a esta página</h1>
                <h5 class="card-subtitle mb-5 mt-5 text-muted">Su usuario no es usuario de administrador.</h5>
                <h5 class="card-subtitle mb-5 text-muted">Para acceder a esta página debe de iniciar sesión con la cuenta administrador</h5>
                <a style="width: 100%;" href="../../../../logout" class="btn btn-primary">Cerrar sesión</a>

              </div>
              <div class="col">

              </div>
            </div>
          </div>
          <img src="{% static "images/afterbyte_logo.png" %}" alt="iogym_logo" class="mb-1" style="display: block; margin-left: auto; margin-right: auto; width: 30%; -webkit-filter: invert(1);filter: invert(1);">
        </div>
      </div>
    </div>
  </div>
</body>
{% endif%}

{% endblock %}
