{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <img class="mr-5" src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" width="100%">
    </div>
    <div class="col-6 mt-5" align="center">
      <h2>Detalles</h2>
    </div>
    <div class="col" align="center">
      <!-- Botón para volver a la vista principal (Home) -->
      <a href="../" class="btn btn-primary mt-5">Atrás</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p><span class="txt_negrita">Nombre:</span> <div class="form-control"> {{object.client_name}}</div></p>
      <p><span class="txt_negrita">Apellidos:</span> <div class="form-control"> {{clients.client_surname}}</div></p>
      <p><span class="txt_negrita">Fecha de nacimiento:</span> <div class="form-control"> {{clients.client_birthday}}</div></p>
      <p><span class="txt_negrita">Telefono:</span> <div class="form-control">{{clients.client_phone}} </div></p>
    </div>
    <div class="col">
    <p><span class="txt_negrita">Telefono de emergencia:</span> <div class="form-control"> {{clients.client_emergency_phone}}</div></p>
    <p><span class="txt_negrita">Email:</span> <div class="form-control"> {{clients.client_email}}</div></p>
    <p><span class="txt_negrita">Genero:</span> <div class="form-control"> {{clients.client_gender}}</div></p>
    </div>
  </div>

</div>
{% endblock %}
