{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="container mt-4 mb-2">
  <div class="row">
    <div class="col-9">
      <h2>Detalles de Clase</h2>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>

<div class="container">

  <div class="row">

    <div class="col-12 col-md-8">
        <label for="">Nombre</label>
        <div class="form-control"> {{object.gymclass_name}}</div>
    </div>

    <div class="col-md-4 pt-4 mt-1 text-right d-none d-md-block">
      <a href="{% url 'index gymclasses' %}" class="btn btn-primary float-right">Volver</a>
    </div>

    <div class="col-12 mt-2 d-md-none">
      <a href="{% url 'index gymclasses' %}" class="btn btn-primary btn-block">Volver</a>
    </div>
  </div>

</div>

{% endblock %}
