{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="{% static "images/iogym_logo.png" %}" alt="iogym_logo" height="40px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="../../admin/index">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Entrenadores
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="../../trainers" class="dropdown-item">Administración</a>
          <div class="dropdown-divider"></div>
          <a href="../../trainers/registros" class="dropdown-item">Asistencia</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="../../clients" class="dropdown-item">Administración</a>
          <div class="dropdown-divider"></div>
          <a href="../../admin/membership/index" class="dropdown-item">Membresías</a>
          <a href="../../admin/asistencias" class="dropdown-item">Asistencia</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Gimnasio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="../../admin/gymclasses/index" class="dropdown-item">Clases</a>
          <div class="dropdown-divider"></div>
          <a href="../../admin/groups/index" class="dropdown-item">Grupos</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="../../../" class="btn btn-primary mr-1">Modo de asistencia</a>
      <a class="btn btn-danger my-2 my-sm-0" href="../../../../logout">Salir</a>
    </form>
  </div>
</nav>

<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-9">
      <h2>Administración de Clases</h2>
    </div>
    <div class="col-3">
      <a type="button" class="btn btn-success" href="create">Nuevo</a>
    </div>
  </div>
</div>



<div class="container mt-2">

  {% if messages %}
    {% for message in messages %}
      {% if message.tags %}{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" align="center">
        {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
    {% endfor %}
  {% endif %}
</div>

<div class="container">
  <div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
      <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Clase</th>
              <th class="text-right">Acciones</th>
            </tr>
          </thead>
          <tbody>
          <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'clientss' y los listamos -->
          {% for gymclasses in object_list %}
            <tr>
              <td>{{ gymclasses.gymclass_name}}</td>
              <td align="right">
                <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o clients desde la misma tabla HTML -->
                <form method="POST" action="delete/{{gymclasses.gymclass_id}}">
                  {% csrf_token %}
                  <div class="btn-group">

                    <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o clientss -->
                    <a href="detail/{{gymclasses.gymclass_id}}" title="Ver" class="btn btn-primary">Ver </a>
                    <a href="edit/{{gymclasses.gymclass_id}}" title="Editar"class="btn btn-secondary">Editar </a>
                    <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                      Eliminar
                    </button>
                  </div>
                </form>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>

  <script type="text/javascript">
    function eliminar() {
      var x = confirm("¿Eliminar clase?\nLos grupos y membresías relacionadas con este elemento serán alteradas");
      if (x)
        return true;
      else
        return false;
    }
  </script>

{% endblock %}
