{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script src="{% static 'js/Chart.js' %}"></script>
<script src="{% static 'js/jspdf.min.js' %}" charset="utf-8"></script>
<script src="{% static 'js/addimage.js' %}" charset="utf-8"></script>
<script src="{% static 'js/addhtml.js' %}" charset="utf-8"></script>
<script src="{% static 'js/dom-to-image.js' %}" charset="utf-8"></script>
<script src="{% static 'js/saveReport.js' %}" charset="utf-8"></script>
<link rel="stylesheet" href="{% static 'css/Chart.css' %}">


<div class="container">

  <div class="mt-3 ml-3">
    <h1>Estadísticas</h1>
  </div>

  <div class="accordion" id="accordionExample" width="100%">
    <div class="row">
      <div class="col-12 d-none d-md-flex justify-content-center">
        <div class="btn-group btn-group-lg" role="group" aria-label="First group">
          <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            General
          </button>
          <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Flujo de Clientes
          </button>
          <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Por mes
          </button>
          <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Pagos
          </button>
          <a href="{% url 'report' %}" class="btn btn-secondary">Reporte</a>
        </div>
      </div>

      <div class="col-12 d-md-none justify-content-center text-center">
        <div class="btn-group btn-group-lg" role="group" aria-label="Second group">
          <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            General
          </button>
          <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Flujo de Clientes
          </button>
        </div>
      </div>
      <div class="col-12 d-md-none justify-content-center text-center">
        <div class="btn-group btn-group-lg mt-2" role="group" aria-label="Third group">
          <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Por mes
          </button>
          <button class="btn btn-secondary collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Pagos
          </button>
          <a href="{% url 'report' %}" class="btn btn-secondary">Reporte</a>
        </div>
      </div>

      <div class="col-12">
        <div class="dropdown-divider mt-3"></div>
      </div>

      <div class="col-12">

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <h1>Estadísticas Generales</h1>

            <canvas id="myChart"></canvas>
            <script>
              var ctx = document.getElementById('myChart').getContext('2d');
              var myChart = new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: ['Clientes', 'Entrenadores', 'Clases', 'Grupos','Membresias Activas','Membresias Vencidas'],
                      datasets: [{
                          label: '# de registros',
                          data: {{general}},
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(255, 159, 64, 0.2)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(75, 192, 192, 1)',
                              'rgba(153, 102, 255, 1)',
                              'rgba(255, 159, 64, 1)'
                          ],
                          borderWidth: 2
                      }]
                  },
                  options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true
                              }
                          }]
                      },
                      responsive: true
                  }
              });
              </script>
            </div>
        </div>




        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <h1>Flujo de Clientes</h1>
            Asistencia por días de la semana
            <div class="form-group">

              <label for="exampleFormControlSelect1">Desde</label>
              <select onchange="setCData()" class="form-control" id="selectClientSince">
                <option onclick="setCData()" value="1">Último mes</option>
                <option onclick="setCData()" value="2">Últimos 3 meses</option>
                <option onclick="setCData()" value="3">Últimos 6 meses</option>
                <option onclick="setCData()" value="4">Último año</option>
                <option onclick="setCData()" value="5">Histórico</option>
              </select>
            </div>
            <canvas id="ClientsFlow"></canvas>
            <script>
            var clientgraphdata=0;
            function setCData(){
              cs2=document.getElementById('selectClientSince');
              if(cs2.options[cs2.selectedIndex].value==1){
                  clientgraphdata={{CFLM|safe}}
              }
              else if (cs2.options[cs2.selectedIndex].value==2) {
                  clientgraphdata={{CFL3M|safe }}
              }
              else if (cs2.options[cs2.selectedIndex].value==3) {
                  clientgraphdata={{CFL6M|safe }}
              }
              else if (cs2.options[cs2.selectedIndex].value==4) {
                  clientgraphdata={{CFLY|safe }}
              }
              else{
                  clientgraphdata={{HCLYD|safe }}
              }
              addData(cc,clientgraphdata);
            }

            function addData(chart, data) {
                chart.data.datasets[0].data = data;
                chart.update();
            }


            var ccx = document.getElementById('ClientsFlow').getContext('2d');
            var cc = new Chart(ccx, {
                type: 'bar',
                data: {
                    labels: ['Domingo', 'Lunes', 'Martes','Miércoles','Jueves','Viernes','Sábado'],
                    datasets: [{
                        label: '# de asistencias',
                        data: {{CFLM|safe}},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 2
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

            </script>

          </div>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <h1>Datos por mes</h1>
            <p>Los meses en que no se han encontrado registros no aparecerán en la gráfica</p>
            <div class="form-group">

              <label for="exampleFormControlSelect1">Categoría</label>
              <select onchange="setTYData()" class="form-control" id="selectTS">
                <option value="1">Asistencias de clientes en el último año</option>
                <option value="2">Histórico de asistencias de clientes</option>
                <option value="3">Nuevos Clientes en el último año</option>
              </select>
            </div>

            <canvas id="ThisYear"></canvas>
            <script>

              var TSgraphdata=0;
              function setTYData(){
                cs2=document.getElementById('selectTS');
                if(cs2.options[cs2.selectedIndex].value==1){
                    TSgraphdata={{ CFLYMData|safe }}
                    TSLabels= {{CFLYMLabels|safe}}
                }
                else if(cs2.options[cs2.selectedIndex].value==2) {
                    TSgraphdata={{ HCFMData|safe }}
                    TSLabels={{ HCFMLabels|safe }}
                }
                else{
                    TSgraphdata={{ NCLYMData|safe }}
                    TSLabels={{ NCLYMLabels|safe }}
                }
                addDataWithLabels(dataPerMonth,TSLabels,TSgraphdata);
              }

              function addDataWithLabels(chart,labels, data) {
                  chart.data.datasets[0].data = data;
                  chart.data.labels = labels
                  chart.update();
              }

              var tyx = document.getElementById('ThisYear').getContext('2d');
              var dataPerMonth = new Chart(tyx, {
                  type: 'bar',
                  data: {
                      labels: {{ CFLYMData|safe }},
                      datasets: [{
                          label: '# de registros',
                          data: {{ CFLYMData|safe }},
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(75, 192, 192, 1)'
                          ],
                          borderWidth: 2
                      }]
                  },
                  options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true
                              }
                          }]
                      }
                  }
              });
              </script>
          </div>
        </div>


        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <h1>Estadísticas de pagos</h1>


            <div class="form-group">

              <label for="exampleFormControlSelect1">Categoría</label>
              <select onchange="paymentData(this)"class="form-control" id="selectLS">
                <option value="1">Ingreso mensual en el último año</option>
                <option value="2">Membresías vendidas mensualmente en el último año</option>
              </select>
            </div>

            <canvas id="Payments"></canvas>
            <script>

              function paymentData(element){
                var paymentChartData = []
                var paymentChartLabels = []
                if(element.value==1){
                    paymentChartData = {{incomesData|safe}}
                    paymentChartLabels = {{incomesLabels|safe}}
                }
                else{
                    paymentChartData = {{salesData|safe}}
                    paymentChartLabels = {{salesLabels|safe}}
                }
                addDataWithLabels(paymentsChart,paymentChartLabels, paymentChartData);
              }

              var paymentsChartCanvas = document.getElementById('Payments').getContext('2d');
              var paymentsChart = new Chart(paymentsChartCanvas, {
                  type: 'bar',
                  data: {
                      labels: {{incomesLabels|safe}},
                      datasets: [{
                          label: 'Ingresos en el mes',
                          data: {{incomesData|safe}},
                          backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(255, 206, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)'
                          ],
                          borderColor: [
                              'rgba(255, 99, 132, 1)',
                              'rgba(54, 162, 235, 1)',
                              'rgba(255, 206, 86, 1)',
                              'rgba(75, 192, 192, 1)'
                          ],
                          borderWidth: 2
                      }]
                  },
                  options: {
                      scales: {
                          yAxes: [{
                              ticks: {
                                  beginAtZero: true
                              }
                          }]
                      }
                  }
              });
              </script>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
